table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    empty-cells: show;
    margin-bottom: 30px;
    width: 100%;
}

td {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

.tl {
    text-align: left;
}

.contentFont, .contentFont td {
    font-family: KaiTi, FangSong;
    font-weight: bold;
}

.contentA {
    font-family: KaiTi, FangSong;
    font-weight: bold;
    color: #23B7E5;
}

.tableTitle {
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
}

.tableSmallTitle {
    font-size: 16px;
    line-height: 1.5;
}

.tableTotalTitle {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

/*tr.data-detail {*/
/*cursor: pointer;*/
/*}*/

