#if(page)
#for(x:page.getList())
<tr>
    <td><span class="text-ellipsis">#(x.document_name??'')</span></td>
    <td><span class="text-ellipsis">#(x.document_type??'')</span></td>
    <td><span class="text-ellipsis">#(x.document_size??'')</span></td>
    #set(permission = x.document_permission == 1 ? '公开' : x.document_permission == 2 ? '申请查看' : '不公开')
    <td><span class="text-ellipsis">#(permission??'')</span></td>

    <td>
        #if(x.document_permission == 1)
        <button class="bg-empty btn text-info" onclick="changePermission('#(x.document_id)', 2)">转为申请查看</button>
        <button class="bg-empty btn text-info" onclick="changePermission('#(x.document_id)', 0)">转为不公开</button>
        #else if(x.document_permission == 0)
        <button class="bg-empty btn text-info" onclick="changePermission('#(x.document_id)', 2)">转为申请查看</button>
        <button class="bg-empty btn text-info" onclick="changePermission('#(x.document_id)', 1)">转为公开</button>
        #else
        <button class="bg-empty btn text-info" onclick="changePermission('#(x.document_id)', 1)">转为公开</button>
        <button class="bg-empty btn text-info" onclick="changePermission('#(x.document_id)', 0)">转为不公开</button>
        #end

    </td>
</tr>
#end
#end
<input type="hidden" name="page-number" value="#(page.pageNumber??0)">
<input type="hidden" name="page-size" value="#(page.pageSize??0)">
<input type="hidden" name="page-row" value="#(page.totalRow??0)">
<input type="hidden" name="page-total" value="#(page.totalPage??0)">

<script>
    function changePermission(documentId, permission) {
        let status = permission == 1 ? '公开' : permission == 0 ? '不公开' : '申请查看';
        layer.confirm('您确定要转为' + status + '吗？', {
            btn: ['确定', '取消']
        }, function () {
            $.post("/document/changePermission", {documentId: documentId, permission : permission}, function (data) {
                var icon = data.code == 1 ? 1 : 0;
                var time = data.code == 1 ? 1000 : 3000;
                layerMsg(data.message, icon, time, function () {
                    if (icon == 1) {
                        page.refresh();
                    }
                });
            });
        });
    }
</script>