<section class="scrollable padder-lg w-f-md full-height animated fadeIn">
    <!--标题以及头部 begin-->
    <h3 class="papeTitle hide">文档管理</h3>
    <!--标题以及头部 end-->
    <!--申请列表 begin-->
    <section class="panel panel-default m-t-md common_shadow_panel">
        <div class="statistics-header type_newui">
            <span class="w_header_title">文档管理</span>
        </div>
<!--        <i class="fa fa-times"></i>-->
        <!--筛选和搜索栏-->
        <div class="row wrapper" id="frm-search">
            <div class="col-sm-1 pull-right">
                <button class="btn btn-success btn-circle btn-lg" type="button" style="background-color: #0d8ddb;border-color: #0d8ddb"
                        onclick="uploadView()"><i class="fa fa-plus"></i></button>
            </div>

            <div class="pull-left col-sm-4">
                <div class="input-group w-m-t-min4">
                    <input class="form-control" placeholder="输入内容" type="text" name="keyword">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btn-search">查询</button>
                    </span>
                </div>
            </div>
        </div>

        <!--表格-->
        <div class="table-responsive w_bmlb_r_table_body">
            <table class="table table-striped table-style b-t b-light w_bmlb_r_table table-layout-fixed">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>文件类型</th>
                    <th>文件大小</th>
                    <th>文件权限</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="list">
                </tbody>
            </table>
        </div>

        <!--分页-->
        <footer class="panel-footer w_newui_panel_footer">
            <div class="row">
                <div class="col-sm-12 text-right text-center-xs" id="kkpager"></div>
            </div>
        </footer>
    </section>
    <!--申请列表 end-->
</section>
<div id="uploadView"></div>
<script>
    var page
    $(function () {
        page = kkpageInit('#kkpager', '#list', '/document/documentList');
        searchInit('#btn-search', '#frm-search', '#list', '#kkpager');
    });

    function uploadView() {
        $('#uploadView').load('/document/uploadView');
    }
</script>
