#if(page)
#for(x:page.getList())
<tr>
    <td><span class="text-ellipsis">#(x.document_name??'')</span></td>
    <td><span class="text-ellipsis">#(x.document_type??'')</span></td>
    <td><span class="text-ellipsis">#(x.document_size??'')</span></td>
    #set(permission = x.document_permission == 1 ? '公开' : x.document_permission == 2 ? '申请查看' : '不公开')
    <td><span class="text-ellipsis">#(permission)</span></td>

    <td>
        #if(x.document_permission == 1L)
        <button class="bg-empty btn text-info" onclick="download('#(x.document_id)')">查看</button>
        #end

        #if(x.document_permission == 2L)
        <button class="bg-empty btn text-info" onclick="request('#(x.document_id)')">申请</button>
        #end
    </td>
</tr>
#end
#end
<input type="hidden" name="page-number" value="#(page.pageNumber??0)">
<input type="hidden" name="page-size" value="#(page.pageSize??0)">
<input type="hidden" name="page-row" value="#(page.totalRow??0)">
<input type="hidden" name="page-total" value="#(page.totalPage??0)">

<script>
    function download(documentId) {
        window.location.href = '/document/download?documentId=' +documentId;
    }

    function request(documentId) {
        $('#requestView').load('/document/requestView', {documentId : documentId});
    }
</script>