<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>单位文件管理系统登录</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link href="/framework/css/bootstrap.min.css" rel="stylesheet">
    <link href="/framework/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/framework/css/animate.min.css" rel="stylesheet">
    <link href="/framework/css/style.min.css" rel="stylesheet">
    <link href="/framework/css/login.min.css" rel="stylesheet">
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1> 单位文件管理系统 </h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎使用 <strong></strong></h4>
                    <ul class="m-b">
                        <li> &nbsp;</li>
                        <li> &nbsp;</li>
                        <li> &nbsp;</li>
                        <li> &nbsp;</li>
                        <li> &nbsp;</li>
                    </ul>
<!--                    <strong>还没有账号？ <a href="#">立即注册&raquo;</a></strong>-->
                </div>
            </div>
            <div class="col-sm-5">
                <form method="post" action="/login">
                    <h4 class="no-margins">登录：</h4>
                    <p class="m-t-md"></p>
                    <input type="text" class="form-control uname" placeholder="用户名" name="username" autocomplete="off"/>
                    <input type="password" class="form-control pword m-b" placeholder="密码" name="password" autocomplete="off"/>
<!--                    <a href="">忘记密码了？</a>-->
                    <button class="btn btn-success btn-block">登录</button>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2020
            </div>
        </div>
    </div>
</body>
<!--全局-->
<script src="/framework/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/framework/js/jquery/jquery.form.js"></script>
<script src="/framework/js/jquery/jquery.md5.js"></script>

<script src="/framework/js/bootstrap.js"></script>

<!-- App -->
<!--<script src="/framework/js/global.js"></script>-->
<script src="/framework/js/common/common.js"></script>
<script src="/framework/js/common/common.layer.js"></script>
<script src="/framework/js/common/common.form.js"></script>

<!--layer-->
<script src="/framework/plugin/layer/layer.min.js"></script>

<script>
    $(function () {
        var $frm = $('form');
        $frm.ajaxForm({
            dataType: "json",
            beforeSerialize: function () {
                var username = $('[name=username]').val() || '', password = $frm.find(':password').val() || '';
                if (username == '') {
                    layerTip('账号不得为空！' + username);
                    $frm.find(':text').focus();
                    return false;
                }

                if (password == '') {
                    layerTip('密码不得为空！');
                    $frm.find(':password').focus();
                    return false;
                }

                //加密
                $frm.find(':password').each(function () {
                    var $this = $(this);
                    $this.val($.md5($this.val()));
                });
            },
            success: function (data) {
                commonResult(data, {
                    fail: function () {
                        $frm.find(':password').val('').focus();
                    }
                });
            }
        });
    });
</script>

</html>